* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: all .1s ease-in-out;
}
html {
    height: 100%;
  }
  
  html, body {
    min-height: 100%;
  }

body {   
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    font-size: 40px;
    background: #3399cc;
    border: 25px solid #2b81ac;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 500;
    vertical-align: middle;
}

header {
    padding: 30px 0;
    text-align: left;
}

.container {
    margin: 0 auto;
    max-width: 985px;
    
}

.city {
    font-size: 0;
    padding: 3px;
    background: #fff;
}

.city:hover > li {
    opacity: .5;
}


.city li {
    text-align: center;
    display: inline-block;
    padding: 30px 10px;
    border: 3px solid #fff;
    font-size: 26px;
    width: 25%;
    background: #3399cc;
}

.city li:hover {
    opacity: 1;
}

p {
    margin-top: 30px;
    font-size: 30px;    
}

.wi {
    margin-top: 30px;    
}

.city li .wi {
    font-size: 40px;
}

.footer {
    font-size: 24px;
    text-align: left;
    color: #fff;
    padding-bottom: 40px;
}

.city li .deg, .city li .wi {
    display: inline-block;
    vertical-align: middle;
    color: rgba(255, 255, 255, .7);
}

.city li .deg::after {
    content: "℃";
}

.city li.lisbon {
    width: 50%;
    background: #3399cc;
}
.city li.paris {
 background: #33cccc;
}

.city li.belgrade {
    background: #996699;
}

.city li.moscow {
    background: #c24747;
}

.city li.telaviv {
    background: #e2674a;
}

.city li.cair {
    background: #ffcc66;
}

.city li.newyork {
    background: #99cc99;
}

.city li.newdelhi {
    background: #669999;
}


.city li.sanfrancisco {
    width: 50%;
    background: #cc6699;
}

.city li.tokyo {
    background: #339966;
}


.city li.sydney {
    width: 100%;
    background: #666699;
}

